@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "swiper/swiper-bundle.min.css";


body {
    font-family: 'Manrope', sans-serif;
}
.custom-btn{
    padding: 5px 25px ;
    border-radius: 8px;
}
html, body {
    overflow-x: hidden; 
    overflow-y: auto; 
}


body {
    position: relative;
    height: 100%;
  }
  
  #app { height: 100% }
  html,
  body {
    position: relative;
    height: 100%;
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  

  
  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  .swiper-slide img {
    display: block;
  }
  