@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    font-family: 'Manrope', sans-serif;
}
.custom-btn{
    padding: 5px 25px ;
    border-radius: 8px;
}
html, body {
    overflow-x: hidden; 
    overflow-y: auto; 
}
